@model PagedResult<Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdometerRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverduePricePerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booked)
            </th> *@
            <th>
                Title
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdometerRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverduePricePerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booked)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<vc:pager result="@Model" view-name="Default" />
